body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Cor do texto alterada para melhor legibilidade */
    background-color: #f0f0f0; /* Cor de fundo alterada para melhor visualização */
}

header {
    background-color: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
}

.bandeira {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #003366;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-gallery figure {
    margin: 10px;
    text-align: center;
}

.image-gallery img {
    max-width: 200px;
    height: auto;
}

footer {
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
